.clearFix() {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
  }
}

@borderColor:#d7dce8;
@errorColor:#f46e65;

@htmlColor:rgba(0,0,0,0.7);

@headerHeight: 40px;
@asideWidth: 250px;